<div class="col-xs-6 col-sm-3">
  <a href="<%= img_url(photo, 'c') %>" class="thumbnail" data-title="<%= photo.title %>">
    <img src="<%= img_url(photo, 'q') %>" class="img-responsive">
  </a>
</div>
